:root{
	--main_text:#fff;
	--secondary_text:#eeeeee;

	--main_color:#15202b;
	--secondary_color:#192734;

	--border_color:#164d56;

	--theme-dot-border:#fff;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;

	--submitBtnColor:#17a2b8;
}