:root{
	--main_text:#fff;
	--secondary_text:#eeeeee;

	--main_color:#606b56;
	--secondary_color:#515a48;

	--border_color:#161914;

	--theme-dot-border:#fff;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;

	--submitBtnColor:#669966;
}