@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,700&display=swap');

.container-1 {
    display: flex;
    align-items: center;
}

.about-img {
    min-width: 300px;
    min-height: 150px;
    width: 30%;
    height: 30%;
    margin-top: 6rem;
    animation-name: home-img;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: 1rem;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
}

.about-text {
    width: auto;
    height: auto;
    margin-top: 15rem;
    margin-left: 5rem;
    border: 3px solid black;
    text-align: center;
}
.about-text>h2 {
    padding: 1.2rem;
}
.profile {
    text-align: center;
    padding: 2rem;
    width: auto;
    height: auto;
    margin-top: 4rem;
}
.profile-text {
    font-family: 'Aleo', serif;
    font-size:xx-large;
}





.education-container {
    margin-top: 2rem;
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(159, 167, 192);
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
}
.header_img {
    width: 5rem;
    height: 5rem;
}
.versity_img {
    width: 10%;
    height: 10%;
}
.edu_content {
    font-family: 'Aleo', serif;
    padding: 2rem;
}
.edu_versity {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu_name {
    padding: 1rem;
}


.skills{
    padding: 1rem;
    font-family: 'Aleo', serif;
    margin: 1rem;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
}
.skills-container {
    margin-top: 2rem;
    text-align: center;
}
.progress {
    position: relative;
    margin-top: 1rem;
    border: 1px solid black;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}
.progress_fill {
    width: 0%;
    height: 100%;
    background-color: aquamarine;
    transition: all 0,1s;
}
.progress_text {
    position: absolute;
    top: 0;
    left: 5px;
}

.certificates-container{
    margin-top: 2rem;
    text-align: center;
}
.certificates {
    padding: 1rem;
    font-family: 'Aleo', serif;
    margin: 1rem;
}
.hobby_container {
    margin-top: 2rem;
    text-align: center;    
}

.hobbies_img {
    font-family: 'Aleo', serif;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
}




@media (max-width: 320px) {
    .container-1{
        flex-direction: column;
    }
    .profile-text {
    font-size:x-large;
    }
    .about-text {
        margin: auto;
        margin-top: 3rem;
    }
    .profile {
        margin-top: 2rem;
    }
    .edu_versity {
        flex-direction: column;
    }
    .profile-text {
    font-size:large;
    }
}
@media (min-width: 321px) and (max-width: 1023px) {
    .container-1{
        flex-direction: column;
    }
    .about-text {
        margin: auto;
        margin-top: 3rem;
    }
    .profile {
        margin-top: 2rem;
    }
    .profile-text {
    font-size: x-large;
    }
    .edu_versity {
        flex-direction: column;
    }
}

